/*****************header***********/
.container{
    max-width:620px;
    height: auto;
    background-color: #f6f9fc;
    margin: auto;
}

.logoabi{
    width:600px;
    background-color:#388cda;
    text-align:center;
    padding:10px;
}
.image img{
    width: 180px;   
}
/***********************mohtavay asli*************/
.soton{
    margin:30px 0;
    width: 620px;
    min-height: 150px;
    background-color: #f6f9fc;
    overflow: hidden;
}
.sotons{
    width: 29%;
    min-height:150px;
    background-color:#f6f9fc;
    float: left;
    margin: 12px;
    align-content: center;
}

.sotons img{
    width:150px;
    margin: 10px;
}
.sotons text{
    width:150px;
    margin: 10px;
}
/***********************footer*************/
.logoabi2{
    width:600px;
    background-color:#388cda;
    text-align:center;
    padding:10px;
}
.logoabi2 img{
    width: 30px;
}
.logoabi2 p{
    color:#fff;
    font-weight:bold;
}
.footer{
    width:600px;
    background-color:#f6f9fc;
    text-align:center;
    padding:10px;
    line-height:20px;
}
.footer a{
    text-decoration: none;
}
